.search-box{
    border: 1px solid black;
    background-color:white;
}
img{
    width: 100%;
}
.select-ride > img{
    width: 20%;
}
.select-ride{
    background-color: rgb(226, 223, 223);
    /* margin-top: 10px; */
    margin-bottom: 10px;
}
.distination{
    background-color: orange;
    margin-bottom: 10px;
    border-radius: 10px;
}
